<div class="main-inner">
	<h2>用户简介</h2>
	<div class='content detail'>
		<div class="row">
			<div class="col-lg-2 t-r">用户名:</div>
			<div class="col-lg-10" ng-bind='list.username'></div>
		</div>
		<div class="row">
			<div class="col-lg-2 t-r">性&emsp;别:</div>
			<div class="col-lg-10" ng-bind='list.sex'></div>
		</div>
		<div class="row">
			<div class="col-lg-2 t-r">电&emsp;话:</div>
			<div class="col-lg-10" ng-bind='list.telephone'></div>
		</div>
		<div class="row">
			<div class="col-lg-2 t-r">密&emsp;码:</div>
			<div class="col-lg-10" ng-bind='list.password'></div>
		</div>
		<div class="row">
			<div class="col-lg-2 t-r">简&emsp;介:</div>
			<div class="col-lg-10" ng-bind='list.info'></div>
		</div>
	</div>
</div>